{% extends 'base.html'%}
{% load static %}

{% block contents %}
<div class="mt-6">
    {% if user.is_authenticated %}
    <div>
        やるべきことリスト！！
    </div>
    {% if tasks %}
    <div class="mt-4">
        {% for task in tasks%}
        <div class="mt-4 flex ">
            <div>
                {{ task.task_title }}
            </div>
            <div class="ml-2">
                期限：　{{ task.task_due }}
            </div>
            <input type="checkbox" class="ml-2">
        </div>
        {% endfor %}
    </div>
    {% else%}
    <div>
        タスクはありません。
    </div>
    {% endif %}

    {% else %}
    <h1>ようこそtodoアプリへ!</h1>
    <p>現在はログアウトしています</p>
    {% endif %}
</div>

{% endblock %}