{% extends 'base.html'%}


{% block contents %}
<div class="flex flex-col justify-center items-center w-30">
    <div class="text-3xl mt-10">
        完了したタスク
    </div>
    {% if tasks %}
    <div class="mt-10">
        {% for task in tasks %}
        <div class="mt-4 ">
            <div class="flex justify-between">
                <div class="text-2xl">
                    {{ task.task_title }}
                </div>
                <div class="flex end">
                    <form method="post" action="{% url 'todo_app:mark_ch' task.id %}" class="mr-4">
                        {% csrf_token %}
                        <input type="hidden" name="is_finished" value="False">
                        <button type="submit" class="bg-lime-500 p-1 text-white">復元</button>
                    </form>
                <!-- <a href = '{% url "todo_app:delete" task.id %}' class="bg-orange-600 p-1 text-white" onclick="return alertFunc();">タスク完了</a> -->
                    <form method="post" action="{% url 'todo_app:delete' task.id %}">
                        {% csrf_token %}
                        <button type="submit" onclick="return alertFunc();" class="bg-red-600 p-1 text-white">削除</button>
                    </form>
                </div>
                
            </div>
            <script>
                function alertFunc() {
                    const del = confirm("本当に削除しますか？");
                    if (del == true) {
                        return true;
                    } else {
                        location.href = '{% url "todo_app:task_done" %}';
                        return false;
                    }
                }
            </script>
            <div class="flex text-xl">
                <div class="ml-2 ">
                    期限：　{{ task.task_due }}
                </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>完了したタスクはありません</div>
    {% endif %}
</div>

{% endblock %}
